/*body.ie{
	font-family: arial !important;
	.field-name-field-main-text, button, .block-title, .page-header, .navbar-nav a, .link-slide a, th, .alert-block{
		font-family: arial !important;
	}
	div.ddblock-cycle-upright60p div.scrollable-pager div.items div a{
		font-family: arial !important;
		font-size: 14px;
	}
	.navbar-nav a{
		font-size: 14px;
	}
	.view-gas-stations .form-type-select select{
		padding: 0 33px 0 0;
	}
}*/

.ie8{
	.view-gas-stations .form-type-select select{
		margin-top: -5px;
	}
	.navbar-header button{
		display: none;
	}
	.navbar-collapse{
		margin-top: -88px;
		position: absolute;
		width: 940px;
		display: block;
		margin-right: 17px;
		border: none;
	}
	#block-block-5{
	  .row-1{
	    background: url("../images/payment-1-ie.png") no-repeat center top transparent;
	  }
	  .row-2{
	    background: url("../images/payment-2-ie.png") no-repeat center top transparent;
	  }  
	  .row-3{
	    background: url("../images/payment-3-ie.png") no-repeat center top transparent;
	  }
	  .row-4{
	    background: url("../images/payment-4-ie.png") no-repeat center top transparent;
	  }
	  .row-5{
	    background: url("../images/payment-5-ie.png") no-repeat center top transparent;
	  }
	  .row-6{
	    background: url("../images/payment-6-ie.png") no-repeat center top transparent;
	  }
	}
	#block-block-3{
	  .row-1{
	    background: url("../images/row-1-ie.png") no-repeat center top transparent;
	  }
	  .row-2{
	    background: url("../images/row-2-ie.png") no-repeat center top transparent;
	  }  
	  .row-3{
	    background: url("../images/row-3-ie.png") no-repeat center top transparent;
	  }
	  .row-4{
	    background: url("../images/row-4-ie.png") no-repeat center top transparent;
	  }
	  .row-5{
	    background: url("../images/row-5-ie.png") no-repeat center top transparent;
	  }
	  .row-6{
	    background: url("../images/row-6-ie.png") no-repeat center top transparent;
	  }
	}
	
	#node-5 .field-name-field-main-text{
		margin-top: 95px;
	}
}